.contact {
    margin-bottom: 50px;
}

.contact__container {
    display: flex;
    gap: 240px;
    justify-content: center;
    padding-top: 95px;

}

.contact__icons {
    margin-bottom: 10px;
}

.contact__text {
    color: #FF7700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.contact__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__phone {
    color: #FF7700;
    font-size: 18px;
    text-align: center;
}

@media(max-width: 968px) {
    .contact__container {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
}