.home {
    background-image: url('../../images/foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 175px;
    margin-bottom: 120px;
}

.home__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home__title {
    color: #fff;
    font-size: 50px;
   text-align: center;
   margin-bottom: 80px;
}

.home__text{
    font-size: 35px;
    color: #fff;
    margin-bottom: 345px;
}

@media (max-width: 1200px){

    .home{
        margin-bottom: 70px;
    }

    .home__title{
        font-size: 45px;
        margin-bottom: 40px;
    }

    .home__text{
        font-size: 30px;
        margin-bottom: 150px;
    }
}

@media (max-width: 968px){
    .home{
        margin-bottom: 50px;
    }

    .home__title{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .home__text{
        font-size: 25px;
        margin-bottom: 100px;
    }
}